# Configuration parameter for GDBWave.
# You can ignore this file if you don't use GDBWave.
cpuClk             = counter_la_tb.uut.soc.core.VexRiscv.clk

retiredPc          = counter_la_tb.uut.soc.core.VexRiscv.lastStagePc [31:0]
retiredPcValid     = counter_la_tb.uut.soc.core.VexRiscv.lastStageIsValid

regFileWriteValid  = counter_la_tb.uut.soc.core.VexRiscv.lastStageRegFileWrite_valid
regFileWriteAddr   = counter_la_tb.uut.soc.core.VexRiscv.lastStageRegFileWrite_payload_address [4:0]
regFileWriteData   = counter_la_tb.uut.soc.core.VexRiscv.lastStageRegFileWrite_payload_data [31:0]

memCmdValid        = counter_la_tb.uut.soc.core.VexRiscv.dBus_cmd_valid
memCmdReady        = counter_la_tb.uut.soc.core.VexRiscv.dBus_cmd_ready
memCmdAddr         = counter_la_tb.uut.soc.core.VexRiscv.dBus_cmd_payload_address [31:0]
memCmdSize         = counter_la_tb.uut.soc.core.VexRiscv.dBus_cmd_payload_size [1:0]
memCmdWr           = counter_la_tb.uut.soc.core.VexRiscv.dBus_cmd_payload_wr
memCmdWrData       = counter_la_tb.uut.soc.core.VexRiscv.dBus_cmd_payload_data [31:0]
memRspValid        = counter_la_tb.uut.soc.core.VexRiscv.dBus_rsp_ready
memRspRdData       = counter_la_tb.uut.soc.core.VexRiscv.dBus_rsp_data [31:0]

memInitFile        = ../gdb.debug/progmem.bin
memInitStartAddr   = 0
