# Configuration parameter for GDBWave.
# You can ignore this file if you don't use GDBWave.
cpuClk             = gcd_la_tb.uut.soc.core.VexRiscv.clk

retiredPc          = gcd_la_tb.uut.soc.core.VexRiscv.lastStagePc [31:0]
retiredPcValid     = gcd_la_tb.uut.soc.core.VexRiscv.lastStageIsValid

regFileWriteValid  = gcd_la_tb.uut.soc.core.VexRiscv.lastStageRegFileWrite_valid
regFileWriteAddr   = gcd_la_tb.uut.soc.core.VexRiscv.lastStageRegFileWrite_payload_address [4:0]
regFileWriteData   = gcd_la_tb.uut.soc.core.VexRiscv.lastStageRegFileWrite_payload_data [31:0]

memCmdValid        = gcd_la_tb.uut.soc.core.VexRiscv.dBus_cmd_valid
memCmdReady        = gcd_la_tb.uut.soc.core.VexRiscv.dBus_cmd_ready
memCmdAddr         = gcd_la_tb.uut.soc.core.VexRiscv.dBus_cmd_payload_address [31:0]
memCmdSize         = gcd_la_tb.uut.soc.core.VexRiscv.dBus_cmd_payload_size [1:0]
memCmdWr           = gcd_la_tb.uut.soc.core.VexRiscv.dBus_cmd_payload_wr
memCmdWrData       = gcd_la_tb.uut.soc.core.VexRiscv.dBus_cmd_payload_data [31:0]
memRspValid        = gcd_la_tb.uut.soc.core.VexRiscv.dBus_rsp_ready
memRspRdData       = gcd_la_tb.uut.soc.core.VexRiscv.dBus_rsp_data [31:0]

memInitFile        = ../gdb.debug/progmem.bin
memInitStartAddr   = 0
